{% extends 'base.html' %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Thêm mới giảng viên</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'create_teacher' %}" class="breadcrumb-link">Thêm mới giảng viên</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <br>
                            <div>
                                    <h3>Thông tin giảng viên</h3>
                                    {% if messages %}
                                    {% for message in messages %}
                                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                      </div>
                                      {% endfor %}
                                    {% endif %}
                            </div>
                            <hr>
                            <div>
                                    <form action="" method="post" novalidate>
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <small class="text-danger"><b> <i>Lưu ý :</i></b> Các trường không được bỏ trống. </small>
                                            <br>
                                            <div style=" display: inline-block; padding-top: 10px;">
                                                    <button type="submit" class="btn btn-outline-primary">Tạo mới</button>
                                            </div>
                                        </form>
                            </div>
                            <br>
                        </h4>
                            <!-- table here -->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic table  -->
                <!-- ============================================================== -->
            </div>
                <!-- ============================================================== -->
                <!-- end data table multiselects  -->
                <!-- ============================================================== -->
            </div>
        </div>
{% endblock %}