{% extends 'base.html' %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Bảng điểm cá nhân</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'mon_hoc' %}" class="breadcrumb-link">Bảng điểm</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <div style="display: inline;">
                                Chuyên ngành: <b>{{sv.nganh.tennganh}} </b>
                                <br> Mã sinh viên : <b class="text-danger">{{sv.user}}</b>    
                            </div>
                            <div style="display: inline; float: right; font-size: 110%;">
                                Họ tên: <b class="text-danger">{{sv.hoten}}</b> 
                            </div>
                            <div class="table-responsive" style="padding-top: 10px;">
                                <h4 class="text-success" style="text-align: center;">BẢNG ĐIỂM TRUNG BÌNH HỆ 4 TOÀN KHOÁ</h4>
                                <table class="table table-striped table-bordered first">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>Học kì</th>
                                            <th>Điểm tích lũy</th>
                                            <th>Số tín chỉ đã đăng kí</th>
                                            <td>Số tín chỉ chưa đạt</td>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center">
                                        {% for item in hocki_all %}
                                        <tr>
                                            {% if item.ttc %}
                                            <td>{{item.ten_hk}}</td>
                                            <td>{{item.diem.tin}}</td>
                                            <td>{{item.ttc}}</td>
                                            <td>{{item.tc_false}}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                    <tfoot style="text-align: center;">
                                        <tr>
                                            <td><b>Toàn khoá</b></td>
                                            <td><b>{{diem_he_4}}</b></td>
                                            <td> <b>{{tong_tin}}</b> </td>
                                            <td><b>{{tong_tc_chua_dat}}</b></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br>
                            </div>
                        </h4>
                        <div class="card-body">
                            <h4 class="text-success" style="text-align: center;">BẢNG ĐIỂM CHI TIẾT
                                <div style="text-align: right;">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                         <div style="text-align: right; font-size: 90%; display: inline;">
                                            {{form}}
                                         </div>
                                         <div style="display: inline;">
                                            <button type="submit" class="btn btn-secondary" style="padding-top: 0px; padding-bottom: 0px;">Xem</button>
                                            <a href="{% url 'bang_diem'%}" role="button" class="btn btn-outline-primary" style="padding-top: 0px; padding-bottom: 0px;">Xem tất cả môn</a>
    
                                         </div>        
                                    </form>
                                </div>
                            </h4>
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>STT</th>
                                            <th>Học kì</th>
                                            <th>Mã môn học</th>
                                            <th>Tên môn học</th>
                                            <th>Số tín chỉ</th>
                                            <th>Chuyên cần</th>
                                            <th>Kiểm tra</th>
                                            <th>Cuối kì</th>
                                            <th>Tổng kết</th>
                                            <th>Điểm chữ</th>
                                            <th>Đánh giá</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center;">
                                        {% for d in data %}
                                        <tr style="font-size: 90%;">
                                            <td>{{forloop.counter}}</td>
                                            <th>{{d.mon_hoc.hocki}}</th>
                                            <td>{{d.mon_hoc.ma_mon}}</td>
                                            <td>{{d.mon_hoc.tenmon}}</td>
                                            <td>{{d.mon_hoc.tin_chi|default_if_none:''}}</td>
                                            <td>{{d.diem.item_1|default_if_none:''}}</td>
                                            <td>{{d.diem.item_2|default_if_none:''}}</td>
                                            <td>{{d.diem.item_3|default_if_none:''}}</td>
                                            <td>{{d.diem.tong_ket}}</td>
                                            <td>{{d.diem.diem_chu}}</td>
                                            {% if d.diem.danh_gia == 'HOCLAI' %}
                                            <td class="text-danger">{{d.diem.danh_gia}}</td>
                                            {% else %}
                                            <td class="text-success">{{d.diem.danh_gia}}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic table  -->
                <!-- ============================================================== -->
            </div>
                <!-- ============================================================== -->
                <!-- end data table multiselects  -->
                <!-- ============================================================== -->
            </div>
        </div>
{% endblock %}