{% extends 'base.html' %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Đăng kí học lại, cải thiện</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'dang_ki_hoc' %}" class="breadcrumb-link">Đăng kí học lại, cải thiện</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h4 class="card-header">
                            Mã sinh viên : <b class="text-danger">{{sv.user}}</b> - <b>{{sv.hoten}}</b>
                            <br>
                            <hr>
                            {% if messages %}
                            {% for message in messages %}
                              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                              </div>
                              {% endfor %}
                            {% endif %}
                            <div class="table-responsive" style="font-size: 90%;">
                            <table class="table table-striped table-bordered first">
                            <h4 class="text-success" style="text-align: center;"><b>Học phần đã đăng kí thành công</b></h4>
                                <thead>
                                    <tr style="text-align: center;">
                                        <th>Mã lớp</th>
                                        <th>Mã môn</th>
                                        <th>Tên môn</th>
                                        <th>Số tín chỉ</th>
                                        <th>Giảng viên</th>
                                        <th>Thời gian học</th>
                                        <th>Sĩ số</th>
                                        <th>Ngày đăng kí</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    {% for item in ds_moi %}
                                    <tr>
                                        <td>{{item.ma_lop}}</td>
                                        <td>{{item.mon_hoc.ma_mon}}</td>
                                        <td>{{item.mon_hoc.tenmon}}</td>
                                        <td>{{item.mon_hoc.tin_chi}}</td>
                                        <td>{{item.giang_vien.ho_ten}}</td>
                                        <td>{{item.thoi_gian_hoc}}</td>
                                        <td>{{item.count_sv}}/{{item.si_so_max}}</td>
                                        {% if true %}
                                        <th class="text-danger">{{item.s}}(Đã hết hạn huỷ)</th>
                                        {% else %}
                                        <th class="text-danger">{{item.s}}</th>
                                        {% endif %}
                                        <td>
                                            {% if item.disable_button %}
                                            <button type="submit" class="btn btn-danger" disabled>Huỷ</button>
                                            {% else %}
                                            <a href="{% url 'huy_lop_hoc_lai' item.id %}" class="btn btn-danger" onclick="if (confirm('Bạn muốn huỷ lớp này?')){console.log('OK')}else{return false}">Huỷ</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <small class="text-danger"><b>Lưu ý: </b> Quyền được huỷ học phần chỉ được áp dụng khi học phần đó đã được đăng kí thành công trong khoảng thời gian < 1 ngày, sau 1 ngày sẽ không được phép huỷ</small>
                            <br>
                        </div>
                        <br>
                        <hr>
                                {% csrf_token %}
                                <div class="table-responsive">
                                <table class="table table-striped table-bordered first">
                                <h4 class="text-danger" style="text-align: center;"><b>Danh sách học phần có thể đăng kí</b></h4>
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>Môn học</th>
                                            <th>Mã môn</th>
                                            <th>Số tín chỉ</th>
                                            <th>Giảng viên</th>
                                            <th>Thời gian học</th>
                                            <th>Địa điểm</th>
                                            <th>Sĩ sô</th>
                                            <th>Hạn đăng kí</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center; font-size: 85%;">
                                        {% for lop in ds_lop_hoc_lai %}
                                        <div class="form-check form-check-inline">
                                        {% if lop.check and lop.count < lop.si_so_max %}
                                        <tr>
                                            <td style="text-align: left;">
                                                <label style="padding-left: 20px;" style="text-align: center;" class="form-check-label">{{lop.mon_hoc.tenmon}}</label>
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.ma_mon}}
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.tin_chi}}
                                            </td>
                                            <td>{{lop.giang_vien.ho_ten}}</td>
                                            <td>
                                                {{lop.thoi_gian_hoc}}
                                            </td>
                                            <td></td>
                                            <td>{{lop.count}}/{{lop.si_so_max}}</td>
                                            <td class="text-danger">{{lop.deadline|date:'Y-m-d'}}</td>
                                            <td class="text-success"><b>Khả dụng</b></td>
                                            <td><a href="{% url 'dang_ki_lop' lop.id %}" type="submit" class="btn btn-success">Chọn lớp</a></td>
                                        </tr>
                                        {% elif lop.count >= lop.si_so_max %}
                                        <tr class="text-muted">
                                            <td style="text-align: left;">
                                                <label style="padding-left: 20px;" style="text-align: center;" class="form-check-label">{{lop.mon_hoc.tenmon}}</label>
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.ma_mon}}
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.tin_chi}}
                                            </td>
                                            <td>{{lop.giang_vien.ho_ten}}</td>
                                            <td>
                                                {{lop.thoi_gian_hoc}}
                                            </td>
                                            <td></td>
                                            <td>{{lop.count}}/{{lop.si_so_max}}</td>
                                            <td class="text-danger">{{lop.deadline|date:'Y-m-d'}}</td>
                                            <td class="text-danger"><b>Đầy</b></td>
                                            <td><button type="submit" class="btn btn-light" disabled>Chọn lớp</button></td>

                                        </tr>
                                        {% else %}
                                        <tr class="text-muted">
                                            <td style="text-align: left;" class="text-muted">
                                                <label style="padding-left: 20px;" style="text-align: center;" class="form-check-label">{{lop.mon_hoc.tenmon}}</label>
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.ma_mon}}
                                            </td>
                                            <td>
                                                {{lop.mon_hoc.tin_chi}}
                                            </td>
                                            <td>{{lop.giang_vien.ho_ten}}</td>
                                            <td>
                                                {{lop.thoi_gian_hoc}}
                                            </td>
                                            <td></td>
                                            <td>{{lop.count}}/{{lop.si_so_max}}</td>
                                            <td class="text-danger">{{lop.deadline|date:'Y-m-d'}}</td>
                                            <td class="text-secondary"><b>Quá hạn</b></td>
                                            <td><button type="submit" class="btn btn-success" disabled>Chọn lớp</button></td>

                                        </tr>
                                        {% endif %}
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </h4>
                            <!-- table here -->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic table  -->
                <!-- ============================================================== -->
            </div>
                <!-- ============================================================== -->
                <!-- end data table multiselects  -->
                <!-- ============================================================== -->
            </div>
        </div>
{% endblock %}